
.totalarea{
    margin: 20px;
    display: grid;
    background-color: rgb(168, 45, 45);
    border: 2px solid rgb(29, 129, 20);
    grid-column:1/13;
    grid-row: 3/10;
    height: 100px;  
    height: 100%;
    grid-template-columns: repeat(12);
    grid-template-rows: repeat(12);
    text-align: center;
    margin: 20 100px 20 100px;
}

    .pdf{
        display: grid;
        grid-column:1/13;
        grid-row: 3/4;
        background-color: rgb(57, 54, 95);
        border: 2px solid black;
        grid-template-columns: repeat(12);
        grid-template-rows: repeat(12);
    }

    .contenedorpadre{
        display: grid;
        grid-column:1/13;
        grid-row: 1/6;
    }

    .cotizador{
        background-color: #1E293B;
        border: 2px solid #020f24;
        border-radius: 5px;
        grid-column:50%;
        grid-row: 1/13;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(12);
        grid-template-rows: repeat(12);
        top: 0px;
        position: sticky;
        grid-gap: 5px;
        margin: 10px;
        color: azure;
        margin: 5px 5px;
    }
/* 
        .inf1{
            display: grid;
            background-color: blue;
            border: 2px solid black;
            grid-column:1/13;
            grid-row: 1/2;  
            text-align: center;
        } */

        .inf2{
            display: grid;
            background-color: #1E293B;
            /* border: 2px solid rgb(188, 243, 38); */
            grid-column:1/13;
            grid-row: 1/8;
            text-align: center;
            grid-template-columns: repeat(12);
            grid-template-rows: repeat(12);
            grid-gap: 5px;
            color: #0F172A;
            margin: 2px 2px;
        }




        .eliminar-unitario{
            display: grid;
            background-color:azure;
            border-radius: 2px;
            /* border: 2px solid rgb(69, 83, 28); */
            grid-column:1/2;
            grid-row: 1/2;
            text-align: center;
            color: #0F172A;
            font-size:larger;
            color: azure;
            justify-items: center;
            align-items: center;
        }

            .img-cotizador{
                display: grid;
                grid-column:1/4;
                grid-row: 1/4;
                display: grid;
                background-color:azure;
                border-radius: 2px;
                text-align: center;
                color: #0F172A;
                font-size:larger;
                color: azure;
                justify-items: center;
                align-items: center;
            }

            .nombre{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(69, 83, 28); */
                grid-column:4/10;
                grid-row: 1/2;
                text-align: center;
                color: #0F172A;
                font-size:larger;
                color: azure;
                justify-items: center;
                align-items: start;
            }

            .precio-unitario{
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(83, 34, 28); */
                display: grid;
                grid-column:10/13;
                grid-row: 1/2;
                text-align: center;
                color:azure;
                font-size: bold;
            }
/* 
            .cantidad{
                display: grid;
                background-color: #0F172A;
                border-radius: 2px;
                border: 2px solid rgb(69, 83, 28);
                grid-column:12/13;
                grid-row: 1/2;
                text-align: center;
                font-size: bold;
                color: azure;
            }  */

            .horas-uso{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(219, 79, 36); */
                grid-column:4/7;
                grid-row: 2/3;
                text-align: center;
                /* color: white; */
                font-size: bold;
                color: azure;
            }

            .horas-sol{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(219, 79, 36); */
                grid-column:7/10;
                grid-row: 2/3;
                text-align: center;
                /* color: white; */
                font-size: bold;
                color: azure;
            }


            .consumo-hora{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(69, 83, 28); */
                grid-column:10/13;
                grid-row: 2/3;
                text-align: center;
                /* color: white; */
                font-size: bold;
                color:azure;
            }

            .consumo-dia{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(69, 83, 28); */
                grid-column:4/7;
                grid-row: 3/4;
                text-align: center;
                /* color: white; */
                font-size: bold;
                color: azure;
            }

            .porcentajeperdidas{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                /* border: 2px solid rgb(69, 83, 28); */
                grid-column:7/10;;
                grid-row: 3/4;
                text-align: center;
                /* color: white; */
                font-size: bold;
                color: azure;
            }
            .cantidadconsumo{
                display: grid;
                background-color:azure;
                border-radius: 2px;
                grid-column:10/13;
                grid-row: 3/4;
                text-align: center;
                font-size: bold;
                color:azure;
            }


            .inf3{
                display: grid;
                background-color: #0F172A;
                grid-column:1/13;
                grid-row: 8/13;
                text-align: center;
                grid-template-columns: repeat(12);
                grid-template-rows: repeat(12);
                /* color: white; */
                font-size: bold;
                /* grid-gap: 5px; */
                margin: 5px 5px;
            }
                .titulorequerimientos{
                    display: grid;
                    background-color:azure;
                    border-radius: 2px;
                    /* border: 2px solid rgb(69, 83, 28); */
                    grid-column:1/13;
                    grid-row: 1/2;
                    text-align: center;
                    color: white;
                    font-size:larger;
                    font-weight:400;
                    align-items: center;
                }
    
                /* reguladores  */
    

                .img-pdf{
                    display: grid;
                    background-color:azure;
                    border-radius: 2px;
                    /* border: 2px solid rgb(138, 180, 11); */
                    height: 150px;
                    grid-column:1/3;
                    grid-row: 2/4;
                    text-align: center;
                    color: azure;
                    font-size: bold;
                    align-items: start;
                    padding-left:20px ;
                }

                    .reguladores-requeridas{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:3/6;
                        grid-row: 2/4;
                        text-align: center;
                        color: azure;
                        font-size: bold;
                        align-content: start;
                    }
    
                    .reguladores-tipo{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:6/9;
                        grid-row: 2/4;
                        text-align: center;
                        color: white;
                        font-size: bold;
                        align-content: start;
                    }
    
                    /* .reguladores-sustento{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        grid-column:6/9;
                        grid-row: 2/3;
                        text-align: center;
                        font-size: bold;
                    } */
    
                    .reguladores-precio{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:9/13;
                        grid-row: 2/4;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                        align-content: start;
                    }
    
                    /* paneles */

                    .img-pdf2{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:1/3;
                        grid-row: 4/6;
                        color: azure;
                        font-size: bold;
                        align-content: center;
                        padding-left:20px ;
                    }
    
                    .paneles-requeridas{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(30, 31, 30); */
                        grid-column:3/6;
                        grid-row: 4/6;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                        align-content: start;
                    }
    
                    
                    .paneles-tipo{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(30, 31, 30); */
                        grid-column:6/9;
                        grid-row: 4/6;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
                    
                    /* .paneles-sustento{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        border: 2px solid rgb(30, 31, 30);
                        grid-column:6/9;
                        grid-row: 3/4;
                        text-align: center;
                        color: white;
                        font-size: bold;
                    } */
    
                    .paneles-precio{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(30, 31, 30); */
                        grid-column:9/13;
                        grid-row: 4/6;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
    
                    /* baterias  */


                    .img-pdf3{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:1/3;
                        grid-row: 6/8;
                        text-align: center;
                        color: azure;
                        font-size: bold;
                        align-items: center;
                        padding-left:20px ;
                    }
    
                    .baterias-requeridas{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(0, 160, 147); */
                        grid-column:3/6;
                        grid-row: 6/8;
                        text-align: center;
                        color: white;
                        font-size: bold;
                    }
    
                    .baterias-tipo{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(0, 160, 147); */
                        grid-column:6/9;
                        grid-row: 6/8;
                        text-align: center;
                        color: white;
                        font-size: bold;
                    }
    
    /* 
                    .baterias-sustento{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        border: 2px solid rgb(0, 160, 147);
                        grid-column:6/9;
                        grid-row: 4/5;
                        text-align: center;
                        color: white;
                        font-size: bold;
                    } */
    
                    .baterias-precio{
                        display: grid;
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid rgb(0, 160, 147); */
                        grid-column:9/13;
                        grid-row: 6/8;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
                
                    /* brakers  */


                    .img-pdf4{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(138, 180, 11); */
                        height: 150px;
                        grid-column:1/3;
                        grid-row: 8/10;
                        text-align: center;
                        color: azure;
                        font-size: bold;
                        align-items: center;
                        padding-left:20px ;
                    }
    
                    .breakers-requeridas{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(206, 27, 27); */
                        grid-column:3/6;
                        grid-row: 8/10;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
    
                    
                    .breakers-tipo{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(206, 27, 27); */
                        grid-column:6/9;
                        grid-row: 8/10;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
    
    /*                 
                    .breakers-sustento{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        border: 2px solid rgb(206, 27, 27);
                        grid-column:6/9;
                        grid-row: 5/6;
                        text-align: center;
                        color: white;
                        font-size: bold;
                    } */
    
                    
                    .breakers-precio{
                        display: grid;
                        background-color: #0a5071;
                        border-radius: 2px;
                        /* border: 2px solid rgb(206, 27, 27); */
                        grid-column:9/13;
                        grid-row: 8/10;
                        text-align: center;
                        /* color: white; */
                        font-size: bold;
                    }
                
    
                    .precio-acumulado{
                        background-color:azure;
                        border-radius: 2px;
                        /* border: 2px solid coral; */
                        grid-column:1/13;
                        grid-row: 10/13;
                        color: azure;
                    }
    

.inf3 .img{
height: 15px;
color: aliceblue;
padding: 10px 10px;
}                    
img:hover {
filter: drop-shadow(0 0 5px var(--secondary-color));
}




    p{
        font-weight: bolder;    
        color: #020f24;
    }